.App {
  text-align: center;

  display:flex;
  flex-direction: column;
  align-items:center;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* COMPONENTS */

/*register form*/
.register-form{

  display:flex;
  flex-direction:column;
  width:300px;
  border:1px solid black;
  margin-top: 80px;
  padding:16px;
  border-radius:16px;

  .reginput {
    width:240px;
    height:30px;
    margin:16px;
    border:0;
    border-bottom: solid 1px gray;
  }

  .reginput:focus {
    outline: none;
  }

  .submit {
    width: 220px;
    padding:8px;
    margin: 20px
  }

  .error-message {
    font-size:0.7rem;
    color:red;
    margin:8px;
    margin-top:0;
    padding:0;
  }

}

